@import "./../scss/variables.scss";

$size: 96px;
$line-width: .4rem;

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: $size;
    height: $size;
    color: $primary;

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        border-radius: 50%;
        transform: rotateX(70deg);
        animation: 1s spin linear infinite;
    }

    &:after {
        color: $danger;
        transform: rotateY(70deg);
        animation-delay: 0.4s;
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%,
    100% {
        box-shadow: $line-width 0px 0 0px currentcolor;
    }
    12% {
        box-shadow: $line-width $line-width 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 $line-width 0 0px currentcolor;
    }
    37% {
        box-shadow: #{-$line-width} $line-width 0 0 currentcolor;
    }
    50% {
        box-shadow: #{-$line-width} 0 0 0 currentcolor;
    }
    62% {
        box-shadow: #{-$line-width} #{-$line-width} 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px #{-$line-width} 0 0 currentcolor;
    }
    87% {
        box-shadow: $line-width #{-$line-width} 0 0 currentcolor;
    }
}
