@import "./../scss/variables.scss";

.editorsContainer {
    display: flex;
    flex: 1;
    height: calc(100vh - 3.5rem);
    max-height: calc(100vh - 3.5rem);
    position: relative;
    // z-index just above the navbar otherwise the top of the editor is cropped
    // Don't know why Bulma always have issues with fixed navbar
    z-index: 31;

    // Make the separator between the editors visible
    & > :last-child {
        border-left: 1px solid #dbdbdb;
    }
}

$max-compilation-output-height: 25vh;

.output-panel {
    display: grid;
    grid-template-rows: 1fr;
    max-height: calc(100vh - 3.5rem);
    width: 50%;

    // Actions

    &__actions {
        position: fixed;
        bottom: 1rem;
        right: 2rem;
        z-index: 100;
    }

    // If we have warnings, we need now have 2 rows
    // - 1 for the editor
    // - 1 for the warnings output

    &.has-warnings {
        grid-template-rows: 1fr $max-compilation-output-height;
    }

    &.has-warnings & {

        &__actions {
            bottom: calc($max-compilation-output-height + 1rem);
        }
    }

    // Place the loader in the center of the output panel

    &--is-loading {
        justify-content: center;
    }

    &--is-error {
        // display: flex;
        background-color: $danger-light;
        color: $danger-dark;
        padding: 1rem;
        white-space: break-spaces;
    }

}

.compilation-output {
    overflow-y: auto;
    white-space: break-spaces;

    &__warning {
        background-color: $warning;
        padding: 1rem;

        &:not(:last-child) {
            border-bottom: 1px solid $warning-dark;
        }
    }
}
