@import "./../scss/variables.scss";

.panel-container {
    display: flex;
    flex: 1;
    height: calc(100vh - 3.5rem);
    max-height: calc(100vh - 3.5rem);
    position: relative;
    // z-index just above the navbar otherwise the top of the editor is cropped
    // Don't know why Bulma always have issues with fixed navbar
    z-index: 31;

    // Make the separator between the editors visible
    & > :last-child {
        border-left: 1px solid #dbdbdb;
    }
}

.right-panel {
    --tabs-min-height: 3.5rem;

    display: flex;
    flex-direction: column;
    height: calc(100vh - 3.5rem);
    width: 50%;

    :global(.tabs) {
        // Prevent Monaco editor to squeeze the tabs when resizing up
        min-height: var(--tabs-min-height);

        :global(.is-active) {
            font-weight: $weight-bold;
        }
    }
}
